<% include ../partials/header %>

<div class="ui main text container" id="container">
    <div class="ui top attached">

        <div class="ui horizontal segments grid">
          <div class="ui segment ten wide column">
            <div class="ui search focus">
            <div class="ui icon input">
                <input class="search" id="newTitle" type="text" placeholder="search to add..." name="title[name]" required autocomplete="off" onblur="hideSuggestions()">
                <i class="search icon"></i>
            </div>
            <div class="results" id="results"></div>
            </div>

            <div class="ui list">
            <% if(titles.filter(title=>!title.seen).length == 0) { %>
                <div class="item title">
                    <h1>😭</h1> Seems like you haven't added any titles to your watchlist yet or your list is empty.
                    <br>
                    Start by typing in the search field above.
                </div>
            <% } %>

            <% titles.forEach(function(title){ %>
                <% if(!title.seen) { %>
                    <div class="item title">
                        <img class="ui image" src="<%= title.poster %>" height="150px" width="100px">
                        <div class="content titleDetails">
                            <%= title.name %>
                            <div class="description">
                                (<%= title.year %>)
                            </div>
                            <div class="description">
                                <i class="imdb icon"></i>
                                <%= title.imdbRating %>
                            </div>
                            <div class="description titleButtons">
                                <button id="toggleSeenStatusButton" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', true)" class="ui icon teal mini button" data-tooltip="Watched '<%= title.name %>'" data-inverted=""><i class="check icon"></i></button>
                                <button id="deleteButton" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" class="ui icon black mini button" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="icon trash"></i></button>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
            </div>
          </div>

          <div class="ui segment history six wide column">
            <h3><i class="tv icon"></i> Your Binge History</h3>

            <div class="ui list">
                <% if(titles.filter(title=>title.seen).length == 0) { %>
                    <div class="item watchedtitle">
                        <h1>😭</h1> Looks like you haven't recorded any binge session yet, shame on you!
                        <br>
                        Record a binge by clicking the checkmark button "watched".
                    </div>
                <% } %>

                <% titles.sort(function(a, b) { %>
                <%    a = new Date(a.seenOn); %>
                <%    b = new Date(b.seenOn); %>
                <%    return a>b ? -1 : a<b ? 1 : 0; %>
                <% }); %>

                <% previousDate = null %>

                <% titles.forEach(function(title){ %>
                    <% if(title.seen) { %>
                        <% if(!previousDate || (previousDate.toISOString().substring(0, 10) !== new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10))) { %>
                            <h4> <%= new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10) %> </h4>
                        <% } %>
                        <% previousDate = title.seenOn %>
                        <div class="item">
                            <img class="ui image seenPoster" src="<%= title.poster %>" height="50px" width="30px">
                            <div class="content">
                                <%= title.name %>
                                <div class="description">
                                    <button id="toggleSeenStatusButton" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', false)" class="ui icon teal mini button" data-tooltip="(Re-)Watch '<%= title.name %>'" data-inverted=""><i class="redo icon"></i></button>
                                    <button id="deleteButton" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" class="ui icon black mini button" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="icon trash"></i></button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
                </div>

          </div>
        </div>

        <div class="ui modal" id="deleteModal">
            <i class="close icon" id="abortDeleteIcon"></i>
            <div class="header">
                Do you really want to <b>delete</b> "<span id="deleteModalName"></span>"?
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button" id="abortDeleteButton">
                    Nope, keep it!
                    <i class="close icon"></i>
                </div>
                <form id="deleteModalForm" class="ui form inline" method="POST" action="/title">
                    <input type="submit" value="Delete" form="deleteModalForm" class="ui red button" id="deleteModalButton"></button>
                </form>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>