<% include ../partials/header %>

<div class="container-fluid">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <input id="searchNewTitle" type="text" class="form-control" id="newTitle" placeholder="search to add..." name="title[name]" required autocomplete="off" onkeyup="suggestTitle()" onblur="hideSuggestions()">
            <div class="input-group-append">
                <i class="fas fa-search input-group-text"></i>
            </div>
        </div>
        <div class="results" id="results"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- watchlist -->
        <div class="col-lg-8">
            <% titles.forEach(function(title){ %>
                <% if(!title.seen) { %>
                    <div class="card mb-3" style="max-width: 400px;">
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <img src="<%= title.poster %>" class="card-img" loading="lazy" alt="cover" style="max-height: 196.328px; max-width: 132.656px">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-header">
                                    <h5 class="card-title mb-1">
                                        <% if(title.name.length > 45) { %>
                                            <% name = title.name.substring(0, 42) + "..." %>
                                        <% } else { %>
                                            <% name = title.name %>
                                        <% } %>
                                        <%= name %>
                                    </h5>
                                    <small class="card-text text-muted">(<%= title.year %>)</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fab fa-imdb mr-1"></i>
                                        <% if(title.imdbRating === -1) { %>
                                            - %
                                        <% } else { %>
                                            <%= title.imdbRating %>
                                        <% } %>
                                        <i class="tomato ml-1 mr-1"></i>
                                        <% if(title.tomatoUserRating === -1) { %>
                                            - %
                                        <% } else { %>
                                            <%= title.tomatoUserRating %> %
                                        <% } %>
                                    </li>
                                    <li class="list-group-item">
                                        <button id="toggleSeenStatusButton" class="btn btn-secondary card-link py-1 px-2" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', true)" data-tooltip="Watched '<%= title.name %>'" data-inverted=""><i class="fas fa-check"></i></button>
                                        <button id="deleteButton" class="btn btn-danger card-link py-1 px-2" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="fas fa-trash"></i></button>   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
        
            <!-- old layout -->
                    <% if(titles.filter(title=>!title.seen).length == 0) { %>
                        <div class="item title">
                            <h1>😭</h1> Seems like you haven't added any titles to your watchlist yet or you've run out of binge material.
                            <br>
                            Look for your next binge by typing in the search field above.
                        </div>
                    <% } %>

        
        <!-- binge history -->
        <div class="col-lg-4 mt-2 mt-lg-0">
            
            <!-- old layout -->
            <h3><i class="tv icon"></i> Binge History</h3>
            <div class="ui list">
                    <% if(titles.filter(title=>title.seen).length == 0) { %>
                        <div class="item watchedtitle">
                            <h1>😭</h1> Looks like you haven't recorded any binge session yet, shame on you!
                            <br>
                            Record a binge by clicking the checkmark button "watched".
                        </div>
                    <% } %>
        
                    <% titles.sort(function(a, b) { %>
                    <%    a = new Date(a.seenOn); %>
                    <%    b = new Date(b.seenOn); %>
                    <%    return b - a; %>
                    <% }); %>
        
                    <% previousDate = null %>
        
                    <% titles.forEach(function(title){ %>
                        <% if(title.seen) { %>
                            <% if(!previousDate || (previousDate.toISOString().substring(0, 10) !== new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10))) { %>
                                <h4> <%= new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10) %> </h4>
                            <% } %>
                            <% previousDate = title.seenOn %>
                            <div class="item">
                                <img class="ui image seenPoster" src="<%= title.poster %>" height="50px" width="30px">
                                <div class="history content name">
                                    <% if(title.name.length > 27) { %>
                                        <% name = title.name.substring(0, 27) + "..." %>
                                    <% } else { %>
                                        <% name = title.name %>
                                    <% } %>
                                    <%= name %>
                                    <div class="description">
                                        <button id="toggleSeenStatusButton" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', false)" class="ui icon teal mini button" data-tooltip="(Re-)Watch '<%= title.name %>'" data-inverted=""><i class="redo icon"></i></button>
                                        <button id="deleteButton" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" class="ui icon black mini button" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="icon trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                    </div> 

        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><i class="fas fa-exclamation-triangle mr-3"></i>Do you really want to <b>remove</b> "<span id="deleteModalName"></span>"?</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-icon-success btn-success" data-dismiss="modal">
                    <i class="fas fa-minus-circle"></i>
                    Nope, keep it!
                </button>
                <form id="deleteModalForm" method="POST" action="/title">
                    <button type="submit" value="Remove" form="deleteModalForm" class="btn btn-icon-danger btn-danger">
                        <i class="fas fa-trash"></i>
                        Yes, delete it!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>    

<% include ../partials/footer %>