<% include ../partials/header %>

<div class="container-fluid">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <input id="searchNewTitle" type="text" class="form-control" id="newTitle" placeholder="search to add..." name="title[name]" required autocomplete="off" onkeyup="suggestTitle()" onblur="hideSuggestions()">
            <div class="input-group-append">
                <i class="fas fa-search input-group-text"></i>
            </div>
        </div>
        <div class="container-fluid" id="results"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- watchlist -->
        <div class="col-lg-8">
            <% titles.forEach(function(title){ %>
                <% if(!title.seen) { %>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col maximumWidthForPoster">
                                <img src="<%= title.poster %>" class="card-img posterSize" loading="lazy" alt="cover">
                            </div>
                            <div class="col">
                                <div class="card-header">
                                    <h5 class="card-title mb-1"><%= title.name %></h5>
                                    <small class="card-text text-muted">(<%= title.year %>)</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fab fa-imdb mr-1"></i>
                                        <% if(title.imdbRating === -1) { %>
                                            - %
                                        <% } else { %>
                                            <%= title.imdbRating %>
                                        <% } %>
                                        <i class="tomato ml-1 mr-1"></i>
                                        <% if(title.tomatoUserRating === -1) { %>
                                            - %
                                        <% } else { %>
                                            <%= title.tomatoUserRating %> %
                                        <% } %>
                                    </li>
                                    <li class="list-group-item">
                                        <button id="toggleSeenStatusButton" class="btn btn-secondary card-link py-1 px-2" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', true)" data-tooltip="Watched '<%= title.name %>'" data-inverted=""><i class="fas fa-check"></i></button>
                                        <button id="deleteButton" class="btn btn-danger card-link py-1 px-2" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="fas fa-trash"></i></button>   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
            <!-- empty watchlist -->
            <% if(titles.filter(title=>!title.seen).length == 0) { %>
                <div class="container rounded bg-warning pb-3 mb-2">
                    <h3 class="pt-3"><i class="fas fa-smile-wink mr-2"></i>Welcome!</h3>
                    <hr>
                    Seems like you haven't added any titles to your watchlist yet or you've run out of binge material <i class="fas fa-sad-cry"></i>
                    <br> <br>
                    <i class="fas fa-hand-point-up mr-2"></i>Find your next binge by typing in the search field above.
                </div>
            <% } %>
        </div>
        
        <!-- binge history -->
        <div class="col-lg-4 mt-lg-0 bg-secondary text-white rounded-left">
            <h3><i class="fas fa-tv mt-3 mr-2"></i>Binge History</h3>
            <hr>
            <% titles.sort(function(a, b) { %>
                <%    a = new Date(a.seenOn); %>
                <%    b = new Date(b.seenOn); %>
                <%    return b - a; %>
                <% }); %>
    
                <% previousDate = null %>
    
                <% titles.forEach(function(title){ %>
                    <% if(title.seen) { %>
                        <% if(!previousDate || (previousDate.toISOString().substring(0, 10) !== new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10))) { %>
                            <h5 class="mb-2"><i class="far fa-calendar-alt mr-2"></i><%= new Date(Date.parse(title.seenOn)).toISOString().substring(0, 10) %> </h5>
                        <% } %>
                        <% previousDate = title.seenOn %>
                        <div class="card mb-3 bg-dark text-white">
                            <div class="row no-gutters">
                                <div class="col" style="max-width: 50px">
                                    <img src="<%= title.poster %>" class="card-img" loading="lazy" alt="cover" style="height: 75px; width: 50px">
                                </div>
                                <div class="col">
                                    <div class="card-header py-1"> 
                                        <h6 class="card-title mb-1"><%= title.name %></h6>
                                    </div>
                                        <li class="list-group-item py-1">
                                            <button id="toggleSeenStatusButton" class="btn btn-secondary card-link py-1 px-2" onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', false)" data-tooltip="(Re-)Watch '<%= title.name %>'" data-inverted=""><i class="fas fa-redo"></i></button>
                                            <button id="deleteButton" class="btn btn-danger card-link py-1 px-2" onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" data-tooltip="Remove '<%= title.name %>'" data-inverted=""><i class="fas fa-trash"></i></button>   
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>

            <!-- empty history -->
            <% if(titles.filter(title=>title.seen).length == 0) { %>
                <div class="container rounded pb-3 mb-2">
                    <h3 class="pt-3"><i class="fas fa-surprise mr-2"></i>Oh no!</h3>
                    <hr>
                    Looks like you haven't recorded any binge session yet - shame on you! <i class="fas fa-sad-cry"></i>
                    <br> <br>
                    Record a binge by clicking the checkmark button (<i class="fas fa-check"></i>) "watched".
                </div>
            <% } %>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><i class="fas fa-exclamation-triangle mr-3"></i>Do you really want to <b>remove</b> "<span id="deleteModalName"></span>"?</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-icon-success btn-success" data-dismiss="modal">
                    <i class="fas fa-minus-circle"></i>
                    Nope, keep it!
                </button>
                <form id="deleteModalForm" method="POST" action="/title">
                    <button type="submit" value="Remove" form="deleteModalForm" class="btn btn-icon-danger btn-danger">
                        <i class="fas fa-trash"></i>
                        Yes, delete it!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>    

<% include ../partials/footer %>