<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui top attached">
        
        <form class="ui form" action="/title" method="POST">
            <div class="fields">
                <div class="six wide field">
                    <input type="text" placeholder="type a name to add it to your list" name="title[name]" required>
                </div>
                <button class="ui icon teal button" data-tooltip="Add a new title" data-inverted=""><i class="add circle icon"></i></button>
            </div>
        </form>

        <div class="ui list">
        <% titles.forEach(function(title){ %>          
            <div class="item">
                <i class="film"></i>
                <div class="content <% if(title.seen) { %> seen <% } %>">
                    <%= title.name %>
                    <form id="seenForm<%= title.id %>" class="ui form inline" method="POST" action="/title/<%= title.id %>">
                        <button form="seenForm<%= title.id %>" class="ui icon teal mini button" id="seenButton<%= title.id %>" data-tooltip="Watched '<%= title.name %>'" data-inverted=""><i class="check icon"></i></button>
                    </form>
                    <button onclick="prepareUpdateModal('<%= title.name %>', '<%= title._id %>');" class="ui icon gray mini button" data-tooltip="Edit '<%= title.name %>'" data-inverted=""><i class="pencil icon"></i></button>
                    <button onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" class="ui icon black mini button" data-tooltip="Delete '<%= title.name %>'" data-inverted=""><i class="icon trash"></i></button>
                </div>
            </div>
        <% }); %>           
        </div>

        <div class="ui modal" id="updateModal">
            <i class="close icon"></i>
            <div class="header">
                <b>Update Name</b> for "<span id="updateModalOldName"></span>"
            </div>
            <div class="image content">
                <form id="updateModalForm" class="ui form" method="POST" action="">
                    <div class="description">
                        <input id="updateModalInput" type="text" name="title[name]" required>
                    </div>
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button">
                    Abort
                    <i class="close icon"></i>
                </div>
                <input type="submit" value="Update" form="updateModalForm" class="ui button teal">
            </div>
                </form>
        </div>


        <div class="ui modal" id="deleteModal">
            <i class="close icon"></i>
            <div class="header">
                Do you really want to <b>delete</b> "<span id="deleteModalName"></span>"?
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button">
                    Nope, keep it!
                    <i class="close icon"></i>
                </div>
                <form id="deleteModalForm" class="ui form inline" method="POST" action="">
                    <input type="submit" value="Delete" form="deleteModalForm" class="ui red button" id="deleteModalButton"></button>
                </form>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>