<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui top attached">

        <form class="ui form" action="/title" method="POST">
            <div class="ui search focus">
                <div class="ui icon input">
                    <input class="search" id="newTitle" type="text" placeholder="search to add..." name="title[name]" required autocomplete="off">
                    <i class="search icon"></i>
                </div>
                <button class="ui icon teal button" data-tooltip="Add new title" data-inverted=""><i class="add circle icon"></i></button>
                <div class="results"></div>
            </div>
        </form>

        <div class="ui list">
        <% titles.forEach(function(title){ %>          
            <div class="item">
                <i class="film"></i>
                <div class="content">
                    <% if(title.seen) { %>
                        <span class="seen"><%= title.name %></span>
                        <button onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', false)" class="ui icon teal mini button" data-tooltip="(Re-)Watch '<%= title.name %>'" data-inverted=""><i class="eye slash icon"></i></button>
                    <% } else { %>
                        <span><%= title.name %></span>
                        <button onclick="toggleSeenStatus('<%= title.id %>', '<%= title.name %>', true)" class="ui icon teal mini button" data-tooltip="Watched '<%= title.name %>'" data-inverted=""><i class="check icon"></i></button>
                    <% } %>
                    <button onclick="prepareUpdateModal('<%= title.name %>', '<%= title._id %>');" class="ui icon gray mini button" data-tooltip="Edit '<%= title.name %>'" data-inverted=""><i class="pencil icon"></i></button>
                    <button onclick="prepareDeleteModal('<%= title.name %>', '<%= title._id %>');" class="ui icon black mini button" data-tooltip="Delete '<%= title.name %>'" data-inverted=""><i class="icon trash"></i></button>
                </div>
            </div>
        <% }); %>           
        </div>

        <div class="ui modal" id="updateModal">
            <i class="close icon"></i>
            <div class="header">
                <b>Update Name</b> for "<span id="updateModalOldName"></span>"
            </div>
            <div class="image content">
                <form id="updateModalForm" class="ui form" method="POST" action="">
                    <div class="description">
                        <input id="updateModalInput" type="text" name="title[name]" required>
                    </div>
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button">
                    Abort
                    <i class="close icon"></i>
                </div>
                <input type="submit" value="Update" form="updateModalForm" class="ui button teal">
            </div>
                </form>
        </div>


        <div class="ui modal" id="deleteModal">
            <i class="close icon"></i>
            <div class="header">
                Do you really want to <b>delete</b> "<span id="deleteModalName"></span>"?
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button">
                    Nope, keep it!
                    <i class="close icon"></i>
                </div>
                <form id="deleteModalForm" class="ui form inline" method="POST" action="/title">
                    <input type="submit" value="Delete" form="deleteModalForm" class="ui red button" id="deleteModalButton"></button>
                </form>
            </div>
        </div>

        <div class="ui modal" id="duplicateModal">
            <i class="close icon"></i>
            <div class="header">
                You already have a similar movie in your list, do you still want to <b>add</b> "<span id="deleteModalName"></span>"?
            </div>
            <div class="actions">
                <div class="ui black deny right labeled icon button">
                    Nope, nevermind!
                    <i class="close icon"></i>
                </div>
                <form id="duplicateModalForm" class="ui form inline" method="POST" action="title">
                    <input type="submit" value="Add" form="duplicateModalForm" class="ui yellow button" id="duplicateModalButton"></button>
                </form>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>